{% extends 'inventario/base.html' %}

{% block title %}Dashboard de Productos{% endblock %}

{% block header_title %}Listado de Productos del Inventario{% endblock %}

{% block content %}
    <h1>Nuestros Productos Disponibles</h1>

    {% if productos %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay productos disponibles en este momento.</p>
    {% endif %}
{% endblock %}